NET "k0(7)" LOC = "P110";
NET "k0(6)" LOC = "P118";
NET "k0(5)" LOC = "P124";
NET "k0(4)" LOC = "P130";
NET "k0(3)" LOC = "P136";
NET "k0(2)" LOC = "P142";
NET "k0(1)" LOC = "P148";
NET "k0(0)" LOC = "P154";

NET "clk" LOC = "P75";
NET "rst" LOC = "P54";

NET "IOAD(0)" LOC = "P193";
NET "IOAD(1)" LOC = "P196";
NET "nPREQ" LOC = "P99";
NET "nPRD" LOC = "P100";
NET "nPWR" LOC = "P102";

NET "nMREQ_out" LOC = "P197";
NET "nWR_out" LOC = "P199";
NET "nRD_out" LOC = "P200";
NET "nBHE_out" LOC = "P3";
NET "nBLE_out" LOC = "P190";

NET "IODB_out(7)" LOC = "P103";
NET "IODB_out(6)" LOC = "P206";
NET "IODB_out(5)" LOC = "P205";
NET "IODB_out(4)" LOC = "P203";
NET "IODB_out(3)" LOC = "P202";
NET "IODB_out(2)" LOC = "P129";
NET "IODB_out(1)" LOC = "P127";
NET "IODB_out(0)" LOC = "P126";

NET "ABUS_out(15)" LOC = "P56";
NET "ABUS_out(14)" LOC = "P55";
NET "ABUS_out(13)" LOC = "P50";
NET "ABUS_out(12)" LOC = "P49";
NET "ABUS_out(11)" LOC = "P48";
NET "ABUS_out(10)" LOC = "P47";
NET "ABUS_out(9)" LOC = "P45";
NET "ABUS_out(8)" LOC = "P42";
NET "ABUS_out(7)" LOC = "P41";
NET "ABUS_out(6)" LOC = "P40";
NET "ABUS_out(5)" LOC = "P39";
NET "ABUS_out(4)" LOC = "P36";
NET "ABUS_out(3)" LOC = "P35";
NET "ABUS_out(2)" LOC = "P34";
NET "ABUS_out(1)" LOC = "P33";
NET "ABUS_out(0)" LOC = "P31";

NET "DBUS_out(7)" LOC = "P16";
NET "DBUS_out(6)" LOC = "P15";
NET "DBUS_out(5)" LOC = "P12";
NET "DBUS_out(4)" LOC = "P11";
NET "DBUS_out(3)" LOC = "P9";
NET "DBUS_out(2)" LOC = "P8";
NET "DBUS_out(1)" LOC = "P5";
NET "DBUS_out(0)" LOC = "P4";
NET "DBUS_out(7)" LOC = "P29";
NET "DBUS_out(6)" LOC = "P28";
NET "DBUS_out(5)" LOC = "P25";
NET "DBUS_out(4)" LOC = "P24";
NET "DBUS_out(3)" LOC = "P23";
NET "DBUS_out(2)" LOC = "P22";
NET "DBUS_out(1)" LOC = "P19";
NET "DBUS_out(0)" LOC = "P18";


NET "ABUS(15)" LOC = "P145";
NET "ABUS(14)" LOC = "P144";
NET "ABUS(13)" LOC = "P140";
NET "ABUS(12)" LOC = "P119";
NET "ABUS(11)" LOC = "P116";
NET "ABUS(10)" LOC = "P115";
NET "ABUS(9)" LOC = "P113";
NET "ABUS(8)" LOC = "P146";
NET "ABUS(7)" LOC = "P147";
NET "ABUS(6)" LOC = "P150";
NET "ABUS(5)" LOC = "P151";
NET "ABUS(4)" LOC = "P171";
NET "ABUS(3)" LOC = "P172";
NET "ABUS(2)" LOC = "P177";
NET "ABUS(1)" LOC = "P178";
NET "ABUS(0)" LOC = "P179";
NET "DBUS(15)" LOC = "P135";
NET "DBUS(14)" LOC = "P134";
NET "DBUS(13)" LOC = "P133";
NET "DBUS(12)" LOC = "P132";
NET "DBUS(11)" LOC = "P128";
NET "DBUS(10)" LOC = "P123";
NET "DBUS(9)" LOC = "P122";
NET "DBUS(8)" LOC = "P120";
NET "DBUS(7)" LOC = "P153";
NET "DBUS(6)" LOC = "P160";
NET "DBUS(5)" LOC = "P161";
NET "DBUS(4)" LOC = "P162";
NET "DBUS(3)" LOC = "P163";
NET "DBUS(2)" LOC = "P164";
NET "DBUS(1)" LOC = "P165";
NET "DBUS(0)" LOC = "P167";
NET "nMREQ" LOC = "P168";
NET "nWR" LOC = "P152";
NET "nRD" LOC = "P139";
NET "nBHE" LOC = "P138";
NET "nBLE" LOC = "P137";